@import "./fonts/index.css";
@import "tailwindcss";

/* Dark mode support */
@custom-variant dark (&:is(.dark *));

@theme {
  --font-plex-sans: "IBM Plex Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, Arial, "Noto Sans",
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --font-plex-condensed: "IBM Plex Sans Condensed", ui-sans-serif, system-ui;
  --font-plex-serif: "IBM Plex Serif", ui-serif, Georgia, Cambria,
    Times New Roman;

  --kf-hex-color-black: #000;
  --kf-hex-color-white: #fff;
  --kf-hex-color-blue: #469eba;
  --kf-hex-color-green: #50750f;
  --kf-hex-color-grey: #666;
  --kf-hex-color-orange: #e49034;
  --kf-hex-color-pink: #a94773;
  --kf-hex-color-purple: #773e89;
  --kf-hex-color-red: #bc2967;
  --kf-hex-color-vipps: #ff5b24;

  --color-grey-50: oklch(98.5% 0 0);
  --color-grey-100: oklch(96.086% 0 0);
  --color-grey-200: oklch(90.372% 0 0);
  --color-grey-300: oklch(84.258% 0 0);
  --color-grey-400: oklch(67.144% 0 0);
  --color-grey-500: oklch(51.03% 0 0);
  --color-grey-600: oklch(40.244% 0 0);
  --color-grey-700: oklch(34.358% 0 0);
  --color-grey-800: oklch(25.072% 0 0);
  --color-grey-900: oklch(19.586% 0 0);
  --color-grey-950: oklch(14.5% 0 0);

  --color-blue-50: oklch(0.976 0.0099 212.52);
  --color-blue-100: oklch(0.9358 0.0222 214.4);
  --color-blue-200: oklch(0.8772 0.0412 215.93);
  --color-blue-300: oklch(0.7887 0.0665 218.51);
  --color-blue-400: oklch(0.657 0.0931 221.93);
  --color-blue-500: oklch(0.5886 0.0889 224.07);
  --color-blue-600: oklch(0.5124 0.0769 229.13);
  --color-blue-700: oklch(0.5124 0.0769 229.13);
  --color-blue-800: oklch(0.3997 0.0503 235.21);
  --color-blue-900: oklch(0.3648 0.0411 234.81);
  --color-blue-950: oklch(0.28 0.025 235);

  --color-green-50: oklch(0.9872 0.0305 116.92);
  --color-green-100: oklch(0.9691 0.0651 119.69);
  --color-green-200: oklch(0.9405 0.117 121.33);
  --color-green-300: oklch(0.9016 0.1722 123.57);
  --color-green-400: oklch(0.8544 0.2 125.89);
  --color-green-500: oklch(0.7727 0.197 128.01);
  --color-green-600: oklch(0.6515 0.1688 128.88);
  --color-green-700: oklch(0.5154 0.13 128.84);
  --color-green-800: oklch(0.4535 0.1081 128.33);
  --color-green-900: oklch(0.4078 0.0932 128.75);
  --color-green-950: oklch(0.32 0.06 128.75);

  --color-orange-50: oklch(0.9825 0.0139 88.68);
  --color-orange-100: oklch(0.9577 0.0325 85.48);
  --color-orange-200: oklch(0.9095 0.0631 82.59);
  --color-orange-300: oklch(0.8501 0.0996 80.17);
  --color-orange-400: oklch(0.7703 0.1289 70.5);
  --color-orange-500: oklch(0.725 0.144 63.7);
  --color-orange-600: oklch(0.6535 0.1495 54.57);
  --color-orange-700: oklch(0.5599 0.1325 50.09);
  --color-orange-800: oklch(0.4782 0.1085 47.64);
  --color-orange-900: oklch(0.4178 0.088 49.08);
  --color-orange-950: oklch(0.3 0.045 49);

  --color-pink-50: oklch(0.9737 0.0091 341.8);
  --color-pink-100: oklch(0.9523 0.0167 343.62);
  --color-pink-200: oklch(0.9079 0.0348 342.2);
  --color-pink-300: oklch(0.8351 0.0636 344.23);
  --color-pink-400: oklch(0.7329 0.1021 347.04);
  --color-pink-500: oklch(0.6489 0.1302 350.65);
  --color-pink-600: oklch(0.5394 0.1371 354.63);
  --color-pink-700: oklch(0.4964 0.1319 357.16);
  --color-pink-800: oklch(0.4393 0.1104 357.11);
  --color-pink-900: oklch(0.3962 0.0913 357.33);
  --color-pink-950: oklch(0.3 0.05 357);

  --color-purple-50: oklch(0.9798 0.0073 312.3);
  --color-purple-100: oklch(0.9577 0.0163 313.61);
  --color-purple-200: oklch(0.9106 0.036 313.04);
  --color-purple-300: oklch(0.8398 0.0666 314.75);
  --color-purple-400: oklch(0.7463 0.1056 315.99);
  --color-purple-500: oklch(0.6416 0.142 316.18);
  --color-purple-600: oklch(0.5447 0.1517 316.45);
  --color-purple-700: oklch(0.4668 0.1309 317.52);
  --color-purple-800: oklch(0.4166 0.1125 318.19);
  --color-purple-900: oklch(0.3771 0.0897 319.73);
  --color-purple-950: oklch(0.28 0.045 320);

  --color-red-50: oklch(0.9725 0.0116 342.64);
  --color-red-100: oklch(0.9504 0.0226 341.32);
  --color-red-200: oklch(0.9029 0.0477 343.59);
  --color-red-300: oklch(0.8271 0.0903 345.8);
  --color-red-400: oklch(0.7264 0.1478 348.51);
  --color-red-500: oklch(0.6499 0.1827 352.33);
  --color-red-600: oklch(0.5774 0.1919 357.53);
  --color-red-700: oklch(0.5345 0.1873 0.79);
  --color-red-800: oklch(0.5345 0.1873 0.79);
  --color-red-900: oklch(0.4008 0.1269 359.23);
  --color-red-950: oklch(0.28 0.06 0);

  --color-vipps-50: oklch(0.9738 0.0151 54.93);
  --color-vipps-100: oklch(0.9405 0.0365 58.04);
  --color-vipps-200: oklch(0.8756 0.0758 52.88);
  --color-vipps-300: oklch(0.7972 0.128 49.18);
  --color-vipps-400: oklch(0.7127 0.1871 40.96);
  --color-vipps-500: oklch(0.6838 0.2092 37.3);
  --color-vipps-600: oklch(0.6186 0.2288 32.46);
  --color-vipps-700: oklch(0.5336 0.202 31.27);
  --color-vipps-800: oklch(0.4522 0.1675 30.24);
  --color-vipps-900: oklch(41.745% 0.1198 34.356);
  --color-vipps-950: oklch(0.2557 0.0904 29.55);

  --animate-pulse-text: pulseText 1s ease-in-out infinite;
  --animate-fade-in-out: fade-in-out 5s ease-in-out;

  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes pulseText {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@theme inline {
  --font-sans: var(--font-plex-sans);
  --font-condensed: var(--font-plex-condensed);
  --font-serif: var(--font-plex-serif);

  --color-black: oklch(0% 0 0);
  --color-white: oklch(100% 0 0);
  --color-blue: var(--color-blue-600);
  --color-green: var(--color-green-700);
  --color-grey: var(--color-grey-500);
  --color-orange: var(--color-orange-400);
  --color-pink: var(--color-pink-700);
  --color-purple: var(--color-purple-900);
  --color-red: var(--color-red-700);
  --color-vipps: var(--color-vipps-600);

  --color-primary: var(--color-blue-600);
  --color-secondary: var(--color-pink-700);

  --color-background: var(--color-grey-50);
  --color-foreground: var(--color-grey-950);

  /* Shadcn variables */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Shadcn variables */

:root {
  --radius: 0.625rem;
  --background: var(--color-grey-50);
  --foreground: var(--color-grey-950);
  --card: var(--color-grey-100);
  --card-foreground: var(--color-grey-950);
  --popover: var(--color-grey-50);
  --popover-foreground: var(--color-grey-950);
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-blue-50);
  --secondary: var(--color-pink-500);
  --secondary-foreground: var(--color-pink-50);
  --muted: var(--color-grey-50);
  --muted-foreground: var(--color-grey-500);
  --accent: var(--color-grey-200);
  --accent-foreground: var(--color-grey-900);
  --destructive: var(--color-red-700);
  --border: var(--color-grey-300);
  --input: var(--color-grey-50);
  --ring: var(--color-blue-400);
  --chart-1: var(--color-orange-600);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-grey-900);
  --chart-4: var(--color-orange-400);
  --chart-5: var(--color-red-500);
  --sidebar: var(--color-grey-100);
  --sidebar-foreground: var(--color-grey-950);
  --sidebar-primary: var(--color-grey-900);
  --sidebar-primary-foreground: var(--color-grey-50);
  --sidebar-accent: var(--color-grey-200);
  --sidebar-accent-foreground: var(--color-grey-900);
  --sidebar-border: var(--color-grey-100);
  --sidebar-ring: var(--color-blue-400);
  --chart-1: var(--color-orange-800);
  --chart-2: var(--color-green-800);
  --chart-3: var(--color-blue-800);
  --chart-4: var(--color-orange-400);
  --chart-5: var(--color-orange-600);
}

/* Shadcn variables */

.dark {
  --background: var(--color-grey-950);
  --foreground: var(--color-grey-50);
  --card: var(--color-grey-900);
  --card-foreground: var(--color-grey-50);
  --popover: var(--color-grey-900);
  --popover-foreground: var(--color-grey-50);
  --primary: var(--color-grey-50);
  --primary-foreground: var(--color-grey-900);
  --secondary: var(--color-grey-800);
  --secondary-foreground: var(--color-grey-50);
  --muted: var(--color-grey-800);
  --muted-foreground: var(--color-grey-400);
  --accent: var(--color-grey-800);
  --accent-foreground: var(--color-grey-200);
  --destructive: var(--color-red-500);
  --border: var(--color-grey-400);
  --input: var(--color-white);
  --ring: var(--color-blue-500);
  --chart-1: var(--color-blue-400);
  --chart-2: var(--color-green-400);
  --chart-3: var(--color-red-500);
  --chart-4: var(--color-purple-500);
  --chart-5: var(--color-red-500);
  --sidebar: var(--color-grey-900);
  --sidebar-foreground: var(--color-grey-50);
  --sidebar-primary: var(--color-blue-400);
  --sidebar-primary-foreground: var(--color-grey-50);
  --sidebar-accent: var(--color-grey-800);
  --sidebar-accent-foreground: var(--color-grey-200);
  --sidebar-border: var(--color-grey-500);
  --sidebar-ring: var(--color-blue-500);
  --chart-1: var(--color-blue-400);
  --chart-2: var(--color-green-400);
  --chart-3: var(--color-orange-400);
  --chart-4: var(--color-purple-400);
  --chart-5: var(--color-pink-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-condensed;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  blockquote {
    @apply font-serif;
  }

  blockquote cite {
    @apply font-sans text-sm;
  }
}
